/* 页脚与头图透明 */
#footer {
    background: transparent !important;
}

#page-header {
    background: transparent !important;
}

/* 白天模式遮罩透明 */
#footer::before {
    background: transparent !important;
}

#page-header::before {
    background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
    background: transparent !important;
}

[data-theme="dark"] #page-header::before {
    background: transparent !important;
}

/* 文章页背景 */
#aside_content,.card-widget,#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),._posts>#page,._posts>#post,.read-mode{
    background: rgba(255, 255, 255, .8);
    backdrop-filter: var(--backdrop-filter);
} 
[data-theme=dark] #nav,
[data-theme=dark] #recent-posts>.recent-post-item,
[data-theme=dark] ._posts>#page,
[data-theme=dark] ._posts>#post,
[data-theme=dark] #aside_content,
[data-theme=dark] div#post,
[data-theme=dark] .card-widget,
[data-theme=dark] .layout_page>div:first-child:not(.recent-posts),
[data-theme=dark] .layout_post>#post {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: var(--backdrop-filter);
}
div#post {
    /* 最后一个值为透明度可以自己指定 */
    background: rgba(255, 255, 255, 0.8);
    /* 透明模糊亚克力 */
    backdrop-filter: var(--backdrop-filter);
}
/*哔哩哔哩视频适配*/
.aspect-ratio {
    position: relative;
    width: 90%;
    height: auto;
    padding-bottom: 75%;
    margin: 3% auto;
    text-align: center;
}
.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 86%;
    left: 0;
    top: 0;
}
/* 侧边栏个人信息卡片动态渐变色 */
#aside-content>.card-widget.card-info {
    background: linear-gradient(-45deg,
            #e8d8b9,
            #eccec5,
            #a3e9eb,
            #bdbdf0,
            #eec1ea);
    box-shadow: 0 0 5px rgb(66, 68, 68);
    position: relative;
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite !important;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* 个人信息Follow me按钮 */
#aside-content>.card-widget.card-info>#card-info-btn {
    background-color: #3eb8be;
    border-radius: 8px;
}
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 4px;
    left: 0;
    right: 0;
    height: 8px;
    border-radius: 8px;
    width: 7rem;
    background: #eaecf2;
    border: 1px #e3e8f7;
    overflow: hidden
}

.pace-inactive .pace-progress {
    opacity: 0;
    transition: .3s ease-in
}

.pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    max-width: 200px;
    position: absolute;
    z-index: 2000;
    display: block;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    /* linear-gradient(to right, #3494e6, #ec6ead) */
    background: linear-gradient(to right, #43cea2, #3866ca);
    animation: gradient 2s ease infinite;
    background-size: 200%
}

.pace.pace-inactive {
    opacity: 0;
    transition: .3s;
    top: -8px
}
div#runtime {
    width: fit-content;
    color: #fff;
    padding: 0 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto
}

[data-theme="dark"] div#runtime {
    color: #28b4c8;
    box-shadow: 0 0 5px rgba(28, 69, 218, 0.5);
    animation: flashlight 1s linear infinite alternate;
    margin: auto
}

@-moz-keyframes flashlight {
    from {
        box-shadow: 0 0 5px #1478d2;
    }

    to {
        box-shadow: 0 0 2px #1478d2;
    }
}

@-webkit-keyframes flashlight {
    from {
        box-shadow: 0 0 5px #1478d2;
    }

    to {
        box-shadow: 0 0 2px #1478d2;
    }
}

@-o-keyframes flashlight {
    from {
        box-shadow: 0 0 5px #1478d2;
    }

    to {
        box-shadow: 0 0 2px #1478d2;
    }
}

@keyframes flashlight {
    from {
        box-shadow: 0 0 5px #1478d2;
    }

    to {
        box-shadow: 0 0 2px #1478d2;
    }
}
#he-plugin-standard {
    width: 100% !important;
    margin-bottom: 20px !important;
}

.wv-lt-location>a[data-v-4b9dcab4],
.wv-lt-location>span[data-v-4b9dcab4],
.wv-n-h-now-tmp>span[data-v-5f4c0628],
.wv-n-h-now-txt>span[data-v-5f4c0628],
.wv-n-h-now-rain>a[data-v-5f4c0628],
.wv-n-h-now-rain>span[data-v-5f4c0628],
.wv-f-forecast-date>a[data-v-66693262],
.wv-f-a {
    color: var(--font-color) !important;
    font-family: 'HYTMR', 'Microsoft Yahei', 'PingFang SC', 'SimSun' !important;
    font-size: 14px
}
.wv-n-h-now-aqi-item {
    display: none;
}